@page "/"
@using BlazorHybridApp.Core
@using CommunityToolkit.Maui.Storage
@inject IFolderPickerService FolderPickerService
@inject FileSyncService FileSyncService
@inject FolderSelector FolderSelector
@inject IFolderPicker FolderPicker
@inject BackgroundTest BackgroundTest

<button @onclick="PickFolder">Select Folder</button>
<button @onclick="TriggerSync">Trigger Sync</button>

@if (!string.IsNullOrEmpty(SelectedPath))
{
    <p>Selected Folder: @SelectedPath</p>
}

@code {
    private string SelectedPath;

    private async Task PickFolder()
    {
        var result = await FolderPicker.PickAsync();
        
        ///SelectedPath = await FolderPickerService.PickFolderAsync();
        await FolderSelector.SelectNewSyncPath(SelectedPath);
    }

    private async Task TriggerSync()
    {
        await FileSyncService.SyncAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        SelectedPath = await FolderSelector.RetrieveAndStoreSyncPath();

        Task.Run(async () =>
        {
            //await BackgroundTest.StartAsync();
        });
    }

}

